.loading-box {
    height: 40px;
    padding: 0 10px;

    display: flex;
    align-items: center;

    background: #2a2a2a;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 6px;

    box-sizing: border-box;
}

.loading-text {
    font-size: 13px;
    color: #ccc;
    animation: piscar 1s infinite alternate;
}

@keyframes piscar {
    from { opacity: 0.5; }
    to { opacity: 1; }
}
