/*======Controla Loading professor.html e provas.html==================*/
.loading-box {
    height: 40px;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background: #2a2a2a;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 6px;

    box-sizing: border-box;
}

.loading-text {
    font-size: 14px;
    color: #ccc;
    
    display: flex;
    align-items: center;     /*garante alinhamento interno */
    height: 100%;
    
    animation: piscar 1s infinite alternate;
}
.loading-box {
    opacity: 0.8;
}
@keyframes piscar {
    from { opacity: 0.5; }
    to { opacity: 1; }
}
